# **Curso IA desde Cero**

* Dr. Irvin Hussein López Nava
* M.C. Joan M. Raygoza Romero

# Booleano
¿Qué es un booleano?

Un booleano es un tipo de dato que solo puede tomar dos valores:

True → verdadero

False → falso

Se usan para tomar decisiones dentro de un programa.

In [ ]:
x = True
y = False

print(x, y)

True False

## Operadores lógicos

Los booleanos pueden combinarse con:
| Operador | Significado                            | Ejemplo          | Resultado |
| -------- | -------------------------------------- | ---------------- | --------- |
| `and`    | Ambas condiciones deben ser verdaderas | `True and False` | False     |
| `or`     | Al menos una condición verdadera       | `True or False`  | True      |
| `not`    | Invierte el valor                      | `not True`       | False     |
|   >     | Mayor que                               |  12 > 13 | False |
|   ==    | Igual que                               |  15 == 12 | True |
|   <     | Menor que                               |  12 < 12 | False |
|   <=     | Menor igual que                        |  12 <= 12 | True |
|   >=     | Mayor igual que                        |  15 >= 12 | True |

In [ ]:
edad = 20

es_mayor = edad >= 18
tiene_ine = True

puede_entrar = es_mayor and tiene_ine
print(puede_entrar)   # True

True

# Números enteros y **flotantes**
¿Qué es un dato numérico?

En programación, los números se guardan en variables.
Existen dos tipos muy usados:

| Tipo    | Nombre  | Ejemplo            |
| ------- | ------- | ------------------ |
| Entero  | `int`   | 1, 20, 105, -3     |
| Decimal | `float` | 1.5, 3.1416, -0.25 |

## Crear variables numéricas en Python

In [ ]:
entero = 10
decimal = 3.5

print(entero)
print(decimal)

10
3.5

## Ver el tipo de dato

In [ ]:
print(type(entero))
print(type(decimal))

<class 'int'>
<class 'float'>

## Operaciones básicas con números

In [ ]:
a = 10
b = 3.5

suma = a + b
resta = a - b
multiplicacion = a * b
division = a / b

print("Suma:", suma)
print("Resta:", resta)
print("Multiplicación:", multiplicacion)
print("División:", division)

Suma: 13.5
Resta: 6.5
Multiplicación: 35.0
División: 2.857142857142857

## División entera y residuo

In [ ]:
division_entera = a // 3
residuo = a % 3

print("División entera:", division_entera)
print("Residuo:", residuo)

División entera: 3
Residuo: 1

### Ejemplo:
* 10 dividido entre 3 es 3 con residuo 1 → división entera = 3, residuo = 1

## Potencias y raíces

In [ ]:
potencia = a ** 2
raiz = a ** 0.5

print("Potencia:", potencia)
print("Raíz:", raiz)

Potencia: 100
Raíz: 3.1622776601683795

## Redondeo

In [ ]:
numero = 3.1415926

print(round(numero))      # redondeo normal
print(round(numero, 2))   # redondeo a 2 decimales

3
3.14

## Librería math
La librería math agrega funciones matemáticas más avanzadas que Python trae por defecto.

In [ ]:
import math

### Raíces cuadradas y potencias

In [ ]:
numero = 25

raiz = math.sqrt(numero)      # raíz cuadrada
potencia = math.pow(numero, 2) # elevar al cuadrado

print("Raíz:", raiz)
print("Potencia:", potencia)

Raíz: 5.0
Potencia: 625.0

### Redondeos y funciones útiles

In [ ]:
x = 3.7

print(math.floor(x))   # redondea hacia abajo → 3
print(math.ceil(x))    # redondea hacia arriba → 4
print(math.pi)         # valor de pi

3
4
3.141592653589793

### Funciones trigonométricas

In [ ]:
angulo = math.radians(90)     # convertir grados a radianes
print(math.sin(angulo))       # seno de 90°

1.0

# Strings (texto)

¿Qué es un string?

Un string es texto: palabras, frases, letras, números escritos como texto.

In [ ]:
texto = "Hola Mundo"
print(texto)
type(texto)

Hola Mundo

str

### Crear strings
Se pueden usar comillas dobles " " o simples ' '

In [ ]:
nombre = "Joan"
ciudad = 'Ensenada'
frase = "La inteligencia artificial es divertida."

### Concatenar (unir texto)

In [ ]:
nombre = "Joan"
mensaje = "Hola " + nombre
print(mensaje)

Hola Joan

### Longitud del texto
Esto cuenta caracteres incluyendo espacios.

In [ ]:
frase = "Hola a todos"
print(len(frase))

12

### Convertir mayúsculas y minúsculas

In [ ]:
texto = "Machine Learning"
print(texto.upper())  # MAYÚSCULAS
print(texto.lower())  # minúsculas

MACHINE LEARNING
machine learning

### Reemplazar palabras

In [ ]:
frase = "La IA es increíble"
nueva = frase.replace("increíble", "poderosa")
print(nueva)

La IA es poderosa

### Quitar espacios al inicio y final

In [ ]:
sucio = "   Hola   "
limpio = sucio.strip()
print(limpio)

Hola

### Buscar dentro del texto

In [ ]:
texto = "Python es genial"
print("Python" in texto)  # True o False
print(texto.find("genial"))  # posición donde inicia

True
10

### Slicing (extraer partes)

In [ ]:
palabra = "Inteligencia"
print(palabra[0:4])   # Inte
print(palabra[-3:])   # cia

Inte
cia

### Separar texto (split)

In [ ]:
frase = "IA datos modelos redes"
palabras = frase.split()  # separa por espacios
print(palabras)

['IA', 'datos', 'modelos', 'redes']

### Unir lista en un string

In [ ]:
lista = ['IA', 'datos', 'modelos']
texto_unido = " - ".join(lista)
print(texto_unido)

IA - datos - modelos

# Listas
¿Qué es una lista?

Una lista es una colección ordenada de elementos.
Puede guardar números, texto, o cualquier tipo de dato.

In [ ]:
numeros = [10, 20, 30, 40]
nombres = ["Ana", "Luis", "María"]
mezcla = [1, "hola", 3.5, True]

print(mezcla)

[1, 'hola', 3.5, True]

## Acceder a elementos de la lista
Los elementos tienen posición (índice), empezando en 0.

In [ ]:
frutas = ["manzana", "pera", "uva", "mango"]

print(frutas[0])  # manzana
print(frutas[2])  # uva
print(frutas[-1]) # último elemento → mango

manzana
uva
mango

## Modificar elementos

In [ ]:
frutas[1] = "plátano"
print(frutas)

['manzana', 'plátano', 'uva', 'mango']

## Agregar elementos

In [ ]:
frutas.append("naranja")   # al final
frutas.insert(1, "kiwi")   # en posición 1
print(frutas)

['manzana', 'kiwi', 'plátano', 'uva', 'mango', 'naranja']

## Eliminar elementos

In [ ]:
print('Original', frutas)
frutas.remove("uva")   # elimina por nombre
print(frutas)
frutas.pop(2)          # elimina por índice
print(frutas)

Original ['manzana', 'kiwi', 'plátano', 'uva', 'mango', 'naranja']
['manzana', 'kiwi', 'plátano', 'mango', 'naranja']
['manzana', 'kiwi', 'mango', 'naranja']

## Largo de una lista

In [ ]:
numeros = [4, 5, 9, 12]
print(len(numeros))

4

## Sumar, máximo, mínimo y promedio

In [ ]:
valores = [5, 10, 15, 20]
print(sum(valores))
print(max(valores))
print(min(valores))

promedio = sum(valores) / len(valores)
print("Promedio:", promedio)

50
20
5
Promedio: 12.5

## Ordenar listas

In [ ]:
nums = [10, 3, 7, 2, 9]
nums.sort()
print(nums)

nums.sort(reverse=True)
print(nums)

[2, 3, 7, 9, 10]
[10, 9, 7, 3, 2]

## Cortar listas (slicing)

In [ ]:
letras = ["a", "b", "c", "d", "e"]
print(letras[0:3])   # primeras 3
print(letras[2:])    # desde la posición 2 hasta el final

['a', 'b', 'c']
['c', 'd', 'e']

## Buscar elementos

In [ ]:
colores = ["rojo", "azul", "verde"]
print("rojo" in colores)  # True
print(colores.index("verde"))  # posición

True
2

# Diccionario
¿Qué es un diccionario?

Un diccionario guarda datos en formato clave → valor.
Sirve para representar objetos del mundo real:

* Un estudiante (nombre, edad, calificación)
* Un producto (precio, categoría)
* Información científica (valor, unidad, fecha)

In [ ]:
estudiante = {
    "nombre": "Joan",
    "edad": 27,
    "promedio": 95
}

print(estudiante)
type(estudiante)

{'nombre': 'Joan', 'edad': 27, 'promedio': 95}

dict

## Acceder a los valores

In [ ]:
print(estudiante["nombre"])
print(estudiante["edad"])

Joan
27

## Modificar valores

In [ ]:
estudiante["promedio"] = 92
print(estudiante)

{'nombre': 'Joan', 'edad': 27, 'promedio': 92}

## Agregar nuevas claves y valores

In [ ]:
estudiante["ciudad"] = "Ensenada"
print(estudiante)

{'nombre': 'Joan', 'edad': 27, 'promedio': 92, 'ciudad': 'Ensenada'}

## Eliminar elementos

In [ ]:
estudiante.pop("edad")
print(estudiante)

{'nombre': 'Joan', 'promedio': 92, 'ciudad': 'Ensenada'}

## Revisar si una clave existe

In [ ]:
print("nombre" in estudiante)   # True
print("telefono" in estudiante) # False

True
False

## Recorrer diccionarios

Solo claves

In [ ]:
for clave in estudiante.keys():
    print(clave)

nombre
promedio
ciudad

Solo valores

In [ ]:
for valor in estudiante.values():
    print(valor)

Joan
92
Ensenada

Claves y valores

In [ ]:
for clave, valor in estudiante.items():
    print(clave, ":", valor)

nombre : Joan
promedio : 92
ciudad : Ensenada

## Diccionarios dentro de listas
Muy común en ciencia de datos:

In [ ]:
productos = [
    {"nombre": "Laptop", "precio": 15000},
    {"nombre": "Mouse", "precio": 250},
    {"nombre": "Monitor", "precio": 3500},
]

# precio total
total = 0
for p in productos:
    total += p["precio"]

print("Total:", total)

Total: 18750

# Ejercicios

## Modificar elementos en una lista
Cambia el segundo elemento de una lista de frutas por "fresa".

In [ ]:
frutas = ["manzana", "pera", "uva"]

#salida esperada: ['manzana', 'fresa', 'uva']

## Sumar elementos de una lista
Suma todos los números dentro de una lista.

In [ ]:
numeros = [3, 6, 9, 12]

# salida esperada: 30

## Extraer parte de una lista (slicing)
Obtén del tercer al quinto elemento de una lista.

In [ ]:
letras = ["a", "b", "c", "d", "e", "f"]

# salida esperada: ['c', 'd', 'e']

## Lista de diccionarios
Accede al nombre del segundo estudiante en una lista.

In [ ]:
estudiantes = [
    {"nombre": "Ana", "puntaje": 9},
    {"nombre": "Luis", "puntaje": 6},
    {"nombre": "María", "puntaje": 8}
]


# salida esperada: Luis

## Promedio desde diccionarios
Calcula el promedio de calificaciones dentro de la lista.

In [ ]:
estudiantes = [
    {"nombre": "Ana", "puntaje": 9},
    {"nombre": "Luis", "puntaje": 6},
    {"nombre": "María", "puntaje": 8}
]


# salida esperada: 7.666666666666667

## Convertir string a lista
Separa un texto en elementos de lista usando comas.

In [ ]:
palabras = "rojo,verde,azul,amarillo"

# salida esperada: ['rojo', 'verde', 'azul', 'amarillo']